@model YogaStudioLRAManagementSystem.Models.LeaveRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LeaveRequest</h4>
    <hr />
    <div class="card-body">
        <div>
            <dl class="row">
                <dt class="col-sm-4">Employee</dt>
                <dd class="col-sm-8">@Model.Employee.FirstName, @Model.Employee.LastName</dd>
                
                <dt class = "col-sm-4">Start Date</dt>
                <dd class="col-sm-8">@Model.StartDate.ToString("yyyy-MM-dd")</dd>
                
                <dt class = "col-sm-4">End Date</dt>
                <dd class="col-sm-8">@Model.EndDate.ToString("yyyy-MM-dd")</dd>
                
                <dt class = "col-sm-4">Status</dt>
                <dd class="col-sm-8">@Model.Status</dd>

                <dt class = "col-sm-4">Reason</dt>
                <dd class = "col-sm-8">@Model.Reason</dd>
                
                <dt class = "col-sm-4">Leave Type</dt>
                <dd class = "col-sm-8">@Model.LeaveType.Name</dd>
            </dl>
        </div>
    </div>
</div>
<div class="mt-3">
    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
    {
    <a asp-action="Review" asp-route-id="@Model?.RequestId" class="btn btn-success">Review |</a> 
        
    }
    <a asp-action="Edit" asp-route-id="@Model?.RequestId" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
